


@import "tailwindcss";

.text {
    color: white
}

body {
    background-image: url("./images/cp.jpg");
    background-size: cover;
    background-repeat: repeat;
    position: relative;
    margin: 0;
    padding: 0;
}

.footerName {
    font-size: 10px!important;
    font-family: Tan Mon Cheri;
    color: white;
    text-align: center;
    padding-top: 10px;
}
